<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="logo-element-big profile-element">
                    Get English
                </div>
                <div class="logo-element">
                    Get English
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.main"><!--<i class="fa fa-laptop"></i>--> <span class="nav-label">Irregular Verbs</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-pv"></i> <span class="nav-label">Phrasal Verbs</span></a>
            </li>

            <li>
                <a href=""><i class="fa fa-iv"></i> <span class="nav-label">Irregular Verbs</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li ui-sref-active="active"><a ui-sref="index.main">Easy</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.rickshaw_chart">Medium</a></li>
                    <li ui-sref-active="active"><a ui-sref="charts.chartjs_chart">Hard</a></li>
                </ul>
            </li>

        </ul>

    </div>
</nav>
